/* navbar and header background color */
.nav-header-bg {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 82.5%;
  height: var(--size-550);
  background: rgb(2, 0, 36);
  background: linear-gradient(124deg,
      rgb(217, 217, 217, 0.05) 20% 40%,
      rgb(217, 217, 217, 0.5) 66%,
      #E1E7Ef 66% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

/* <!-- Section-1 navbar --> */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-20) 0;
}

.nav-logo img {
  width: var(--size-200);
  float: left;
  margin-right: auto;
}

#nav-menu {
  float: right;
  display: flex;
}

#nav-menu ul {
  display: flex;
  align-items: center;
  gap: var(--size-20);
  margin-right: var(--size-20);
}

#nav-menu button {
  margin-left: var(--size-20);
}

#nav-menu .nav-features {
  color: var(--color-link);
}

/* <!-- Section-2 header --> */
/* header statement */
.header-statement-logos {
  display: flex;
}

.header-statement {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--size-100) 0;
}

.header-text p {
  margin-bottom: var(--size-40);
}

.header-btn {
  display: flex;
  align-items: center;
  gap: var(--size-30);
}

.header-btn span {
  color: var(--color-link);
  cursor: pointer;
}

.btn-play-img img {
  width: var(--size-20);
  margin-right: var(--size-10);
}

/* <!-- header-logos --> */
.header-logos-container {
  width: 100%;
}

.header-multi-logo-icons {
  display: flex;
  align-items: flex-start;
  margin-top: var(--size-60);
}

.header-multi-logo-icons .header-company-icon,
.icon-bg {
  border-radius: 50%;
  padding: var(--size-15);
  background: #FFFFFF;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
}

.header-multi-logo-icons .header-company-icon img {
  width: var(--size-40);
  object-fit: contain;
}

.header-multi-logo-icons .hd-large-icon {
  max-width: var(--size-130);
}

.header-multi-logo-icons .hd-large-icon img {
  width: var(--size-50);
}

/* <!-- top icons --> */
.header-multi-logo-icons #google-icon {
  margin-left: 5%;
  margin-right: 15%;
}

.header-multi-logo-icons #atlastis-icon {
  margin-right: auto;
}

/* <!-- middle icons --> */
.middle-icons {
  margin-top: var(--size-80);
}

.header-multi-logo-icons #paypal-icon {
  margin-right: 40%;
}

/* <!-- bottom icons --> */
.bottom-icons {
  margin-top: var(--size-40);
}

.header-multi-logo-icons #google-a-icon {
  margin-left: 25%;
  margin-right: 40%;
}

.header-multi-logo-icons #calender-icon {
  margin-top: 10%;
}

/* <!-- SECTION-3 features --> */
.features-heading {
  display: block;
  text-align: center;
  padding: var(--size-70) 0;
}

.features-cards-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: var(--size-100);
  gap: var(--size-5);
}

.features-card {
  padding: var(--size-30);
}

.features-card img {
  width: var(--size-60);
  padding-bottom: var(--size-10);
}

.features-card-header {
  display: flex;
  align-items: center;
  height: 100%;
}

.features-card-header h3 {
  margin: var(--size-10) 0;
}

.features-card-header button {
  background-color: #01C9A7;
  padding: var(--size-4) var(--size-10);
  margin-left: var(--size-10);
}

.features-card p {
  letter-spacing: 0.5px;
}

.features-card span {
  cursor: pointer;
  color: var(--color-link);
}

/* <!-- SECTION-4 software btn and image --> */
.software-btn-img {
  display: flex;
  background-color: rgb(217, 217, 217, 0.1);
  padding-top: var(--size-100);
  margin-bottom: var(--size-50);
}

.software-btn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.software-btn h2 {
  margin-top: var(--size-60);
}

.software-img {
  width: 100%;
}

.software-img img {
  margin-bottom: -5px;
  width: 100%;
}

/* <!-- SECTION-5 why-front --> */
.why-front-wrapper {
  padding: var(--size-30) 0 var(--size-100) 0;
}

.why-front-text {
  display: block;
  text-align: center;
}

.wizard-step-container {
  --wizard-step-color: #e0e0e0;
  --wizard-step-active-color: var(--color-link);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding-top: var(--size-30);
}

.wizard-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--wizard-step-color);
  transition: 0.5s all;
}

.wizard-circle::after {
  content: "";
  display: block;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: var(--color-link);
  transition: 0.5s all;
}

.wizard-circle:hover {
  background-color: var(--wizard-step-active-color);
}

.wizard-line {
  width: 20%;
  height: 0.1rem;
  background-color: var(--wizard-step-color);
}

.why-front-comp-text {
  display: flex;
  justify-content: center;
  gap: 12.5%;
}

.why-front-comp-text #text-first {
  margin-right: 25px;
}

/* < !-- SECTION-6 Video --> */
.video-wrapper {
  padding-bottom: var(--size-100);
}

.video-bg img {
  max-width: 100%;
  background-size: cover;
}

.video-wrapper a img {
  width: var(--size-20);
  height: var(--size-20);
}

.video-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-60);
  height: var(--size-60);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* < !-- SECTION-7 HubSpot --> */
.hubspot-img-txt {
  display: flex;
  padding-bottom: var(--size-50);
}

.hubspot-img-stack {
  width: 100%;
  padding-left: var(--size-30);
  height: 425px;
}

.img-stack-top {
  position: relative;
  left: var(--size-60);
}

.img-stack-top img {
  max-width: 325px;
}

.img-stack-bot {
  position: relative;
  top: -320px;
  left: 5px;
  z-index: -10;
}

.img-stack-bot img {
  max-width: var(--size-200);
}

.hubspot-txt {
  width: 100%;
}

.hubspot-txt img {
  max-width: var(--size-100);
  padding-top: var(--size-50);
}

.hubspot-txt h3 {
  padding-top: var(--size-10);
}

.hubspot-txt h4 {
  margin-top: 0;
  margin-bottom: 0;
}