/* <!-- Section-1 navbar and header --> */
.nav-logo img {
  width: var(--px-200-to-rem);
  float: left;
}

#nav-menu {
  float: right;
  display: flex;
}

#nav-menu ul {
  display: flex;
  gap: var(--px-20-to-rem);
  margin-right: var(--px-20-to-rem);
}
