body {
  background-color: rgb(24, 23, 23);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 1rem;
  padding: 1rem;
  min-width: 22rem;
  gap: 1.5rem;
}

.card {
  background-color: rgb(255, 255, 255);
  max-width: 20rem;
  border-radius: 3px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
  transform: scale(1.05);
  background-color: rgba(82, 99, 99, 0.151);
}

.card-image-and-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

                    /* COLOR WHEEL START */
.color-wheel[type="color"] {
  -webkit-appearance: none;
  height: 90px;
  width: 90px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.color-wheel[type="color"]::-webkit-color-swatch {
  border: none;
  width: 100%;
  border-radius: 50%;
  background: conic-gradient(
    at 50%,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
}
                   /* COLOR-WHEEL END */

.card-content {
  margin: 0 1rem;
  max-width: 170px;
}

.size-and-color-text {
  font-size: 15px;
  font-weight: 500;
  color: rgb(68, 65, 65);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-left: 10px;
}

.link-arrow {
  width: 12px;
  rotate: 90deg;
}